project_id = "acnmqugtqjhxagfwtxcg"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv4"

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"
image_transformation.enabled = true

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_anonymous_users = false
enable_signup = true
email_confirm = false
phone_confirm = false

[auth.email]
enable_signup = true
double_confirm = false
enable_confirmations = false

[functions.send-credentials]
verify_jwt = true

[functions.update-user-password]
verify_jwt = true

[functions.create-user]
verify_jwt = true

[functions.generate-profile-photo]
verify_jwt = true

[functions.batch-generate-photos]
verify_jwt = true

[functions.generate-all-photos]
verify_jwt = true

[functions.delete-user]
verify_jwt = true

[functions.bulk-invite-parents]
verify_jwt = true

[functions.resend-invitation]
verify_jwt = true

[functions.generate-presentation-screenshots]
verify_jwt = false